// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
.site-title, .site-title:visited {
	color: #f05454;
}
.site-nav .page-link {
	color: #f05454;
}
body {
	font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
    color: #dddddd;
    background-color: #222831;
}
a {
	color: #98acf8;
}
a:visited {
	color: #da9ff9;
}
img {
    max-width: 100%;
    height: auto;
}
.img-logo{
    display: block;
    border: 6px solid #30475e;
    padding: 4px;
    border-radius: 4px;
    width: 25%;
}
.bio{
    width: 70%;
}
table th {
	background-color: #30475e;
	border: 1px solid #f05454;
}
table {
	text-align: left;
	color: #dddddd;
	border-collapse: collapse;
}
table td {
	border: 1px solid #696969;
}
.tag-list{
    // border: 1px solid #f05454
    height: 40px;
    
}
.tag-text{
    font-size: small;
    color: #999999;
}
.tag-name-border{
    // border: 1px solid #999999;
    color:#f05454;
}